/*
*
*  Description: Custom Confluence styling
*  ------------------------------------------------------------------------------------
*/

html,
body {
  font-size: 16px !important;
}

/* Typography
*/
h1, h2, h3, h4, h5, h6 {
  margin: 0 !important;
  hyphens: auto !important;
  line-height: 1.5;
  font-weight: normal !important;
}

h1 {
  font-size: 39px !important;
}

h2 {
  font-size: 28px !important;
}

h3 {
  font-size: 24px !important;
}

h4 {
  font-size: 18px !important;
}

h5 {
  font-size: 16px !important;
}

h6 {
  font-size: 16px !important;
  font-weight: bold;
}

/* Links
*/
a,
a:visited {
  color: #00796b !important;
  text-decoration: none !important;
  border-bottom: 1px solid #00796b !important;
  transition: all 300ms ease-in-out;
}

a:hover,
a:focus {
  color: #005e53 !important;
  border-bottom: 1px solid transparent !important;
}

/* Lines
*/
hr {
  border-bottom: 1px solid #e7eced !;
}

/* Heading
*/
.buf-section-title {
  margin-bottom: 24px !important;
}

/* Ingress
*/
.buf-lead-paragraph {
  max-width: 75ch !important;
  font-size: 18px !important;
  padding-bottom: 20px !important;
}

/* Block
*/
.buf-block {
  margin-bottom: 24px !important;
}

.buf-block h2 {
  margin-bottom: 16px !important;
}

.buf-block h2 a {
  position:  relative !important;
  border-bottom: none !important;
}

.buf-block h2 a::after {
  margin-left: 12px;
  position: relative;
  bottom: 3px;
  content: '\f054';
  color: #00796b;
  font-family: 'Font Awesome 5 Free';
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-weight: 900;
  transition: all 300ms ease-in-out;
  -webkit-font-smoothing: antialiased;
}

.buf-block h2 a:hover::after,
.buf-block h2 a:focus::after {
  color: #005e53;
  margin-left: 24px;
}

.buf-block ul {
  padding: 0;
  margin: 0;
}

.buf-block ul li {
  padding: 4px 0;
}

.buf-block ul li::before {
  margin-right: 10px;
  position: relative;
  bottom: 2px;
  content: '\f054';
  color: #00796b;
  font-family: 'Font Awesome 5 Free';
  font-size: 10px;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
}

.buf-block ul li a {
  color: #292929 !important;
  border-bottom: 1px solid transparent !important;
}

.buf-block ul li a:hover,
.buf-block ul li a:focus {
  color: #005e53 !important;
  border-bottom: 1px solid #005e53 !important;
}

.buf-block .buf-block__text {
  margin-bottom: 24px;
}

/* Link block
*/
.buf-block-link {
  margin-bottom: 24px !important;
}

.buf-block-link a {
  padding: 24px 0 24px 0 !important;
  color: #00796B !important;
  display: flex;
  justify-content: center;
  border-bottom: 3px solid transparent !important;
  background-color: #f2f7f6;
}

.buf-block-link a:hover, 
.buf-block-link a:focus {
  color: #005e53 !important;
  border-bottom: 3px solid #005e53 !important;
}
