/*
*
*  Description: Custom Confluence styling
*  ------------------------------------------------------------------------------------
*/

html,
body {
  font-size: 16px !important;
}

/* Typography
*/
h1, h2, h3, h4, h5, h6 {
  hyphens: auto !important;
  margin: 0 !important;
}

h1 {
  font-size: 3rem !important;
  line-height: 4.625rem !important;
}

h2 {
  font-size: 2.4375rem !important;
  line-height: 3.875rem !important;
}

h3 {
  font-size: 1.9375rem !important;
  line-height: 3.1875rem !important;
}

h4 {
  font-size: 1.5625rem !important;
  line-height: 2.5625rem !important;
}

h5 {
  font-size: 1.25rem !important;
  line-height: 2.125rem !important;
}

h6 {
  font-size: 1rem !important;
  line-height: 1.6875rem !important;
}

/* Links
*/
a,
a:visited {
  color: #00796b !important;
  text-decoration: none !important;
  border-bottom: 1px solid #00796b !important;
  transition: all 300ms ease-in-out;
}

a:hover,
a:focus {
  color: #005e53 !important;
  border-bottom: 1px solid transparent !important;
}

/* Ingress
*/
.buf-lead-paragraph {
  font-size: 1.250rem !important;
  padding-bottom: 20px;
}

/* Block
*/
.buf-block {
  margin-bottom: 24px;
}

.buf-block h2 {
  margin-bottom: 24px;
}

.buf-block ul {
  padding: 0;
  margin: 0;
}

.buf-block ul li {
  padding: 0 4px;
}

.buf-block ul li::before {
  margin-right: 10px;
  position: relative;
  bottom: 2px;
  content: '\f054';
  color: #00796b;
  font-family: 'Font Awesome 5 Free';
  font-size: 10px;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
}

.buf-block ul li a {
  color: #292929 !important;
  border-bottom: 1px solid transparent !important;
}

.buf-block ul li a:hover {
  border-bottom: 1px solid #005e53 !important;
}

.buf-block .buf-block__text {
  margin-bottom: 24px;
}
